.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 736px;
    margin: auto;
    margin-top: 4rem;
}

.empty {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 1.4;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    color: var(--gray-300);
}

.empty img {
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 0.875rem;
}

.created {
    color: var(--blue);
}

.done {
    color: var(--purple);
}